* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*.anxiety {
	--darkest: #22142e;
	--darker: #233253;
	--midtone: #1f565d;
	--lighter: #2d7a58;
	--lightest:#3f8f50;
}
*.sChill {
	--darkest: #343635;
	--darker: #605aa0;
	--midtone: #8c80c2;
	--lighter: #c6a9e1;
	--lightest:#e1ebe2;
}
body {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(3,33vh);
	grid-gap: 0 1vw;
	padding: 0.5vh;
	background: var(--darkest);
	overflow: hidden;
	user-select: none;
}

button {
	border: 0px;
	padding: 4px;
	border-radius: 4px;
}

button {
	background: var(--lighter);
}

button.alt {
	background: var(--lightest);
}

div {
	border-radius: 4px;
	position: relative;
}

.theme {
	background: linear-gradient(var(--darkest),var(--darker),var(--midtone),var(--lighter),var(--lightest));
	grid-row: 2;
}

.standardSize, .centerContain, .records {
	border: 1px solid black;
}
.standardSize {
	height: 60px;
	text-align: center;
	line-height: 60px;
}

.logForm {
	align-self: center;
	grid-area: 2 / 2;
	background: var(--lightest);
	display: flex;
	padding: 10px 7px;
}

.logForm > * + * {
	margin-left: 7px;
}

.logForm > input {
	flex-grow: 1;
	line-height: unset;
}

.records {
	grid-area: 1 / 1 / span 3 / span 2;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-auto-rows: 60px;
	grid-gap: 2px;
	padding: 2px;
	background: var(--darker);
	overflow-y: auto;
}

.record {
	background: var(--lightest);
	overflow: hidden;
}
.record:after{
	content: "";
	inset: 0;
	position: absolute;
	background: var(--darkest);
	pointer-events: none;
	opacity: 0.3;
	transition: opacity 0.3s;
}

.record:hover:after,
.highlight:after {
	opacity: 0;
}

.buttons {
	grid-area: 3 / 3;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
}

.buttons > button,
.buttons > input {
	margin: 5px 0;
	height: 16.5%;
}

.sync {
	color: var(--lightest);
	text-align: center;
	padding: 5px;
	grid-area: 1 / 3;
	display: flex;
	justify-content: center;
	justify-self: center;
	width: 206px;
	height: 30px;
}
.sync:after {
	content: "↻";
	display: block;
	margin-left: 5px;
	height: 17px;
	line-height: 14pt;
	font-size: 16pt;
}

.sync.spin:after {
	animation: spin 1s infinite;
}

.editForm {
	background: var(--midtone);
	grid-area: 1 / 2 / span 2 / span 2;
	box-shadow: -3px 3px 10px var(--darkest);
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(7,1fr) 3fr 1fr;
	grid-gap: 10px;
	padding: 10px;
}

.editForm > input,.editForm > div {
	grid-column: span 4;
}
.editForm > div {
	padding: 2% 0 0;
	font-size: 2.5vh;
}
.editForm > button {
	grid-row: 9;
}
.editForm > button:first-of-type {
	grid-column: 3;
}
.editForm > button:last-of-type {
	grid-column: 4;
}

.random {
	display: flex;
}

.random > div:first-child {
	flex-grow: 6;
}

.random > input {
	width: 10%;
	text-align: center;
}

.random > div:last-child {
	background: var(--lighter);
	text-align: center;
	flex-grow: 2;
	margin-left: 5px;
}

.error {
	text-align: center;
	line-height: 60px;
	color: red;
	grid-area: 1 / 2;
	align-self: end;
	width: 100%;
}

.modal {
	background: rgba(52,54,53,0.5);
	grid-area: 1 / 1 / span 3 / span 3;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(3,1fr);
}

.modal > div {
	background: var(--midtone);
	place-self: center;
	padding: 10px;
	grid-area: 2 / 2;
}

.deletePrompt {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 2fr 1fr;
	grid-gap: 0 5px;
	height: 50%;
	font-size: 2.5vh
}

.deletePrompt > div {
	grid-column: span 3;
}
.deletePrompt > button:first-of-type {
	grid-column: 2;
}
input {
	padding-left: 5px;
}
/* ANIMATIONS */
.fadeIn {
	animation: fadein 0.75s;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.fadeOut {
	animation: fadeout 0.75s;
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

.shake {
	animation: shake 0.3s;
}

@keyframes shake {
	0%, 100% {
		transform: translateX(0);
	}
	25%, 75% {
		transform: translateX(-5px);
	}
	50% {
		transform: translateX(5px);
	}
}

.slideInRight {
	animation: 0.5s ease 0s 1 slideinright;
}

@keyframes slideinright {
	0% {
		transform: translateX(151%);
	}
	100% {
		transform: translateX(0);
	}
}

.slideOutRight {
	animation: slideoutright 0.3s;
}

@keyframes slideoutright {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(151%);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
